.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.InfoBox {
    width: 320px;
    padding: 10px;
    border: 1px solid gray;
    margin: 0;
}

@media(prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Search {
    text-align: center;
}

.SearchResults {
    margin: auto;
    width: 50%;
}

h3 {
    text-align: center;
}

.h3 {
    text-align: left;
}

.SearchRes1 {
    float: left;
    width: 50%;
}
.SearchRes2 {
    float: right;
    text-align: right;
    width: 50%;
}

.ProfilePageHeadline {
    text-align: center;
}

.ProfilePageMovies {
    float: right;
    margin-right: 25%;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.movieImg {
    width: 100%;
    z-index: -1;
}

.movieImg:hover {
  opacity: 20%;
}

.featuredMovie1 {
    float: left;
    width: 50%;
}

.featuredMovie2 {
    float: right;
    width: 50%;
}

.movieData {
    margin-top: 5%;
    text-align: center;
    position: absolute;
    width: 50%;
}
